annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
chromadb==1.5.9
click==8.3.3
fastapi==0.136.1
google-cloud-aiplatform==1.157.0
google-cloud-storage==3.11.0
google-genai==2.8.0
h11==0.16.0
idna==3.14
kiwipiepy==0.23.1
numpy==2.4.4
opencv-python==4.13.0.92
pydantic==2.13.4
pydantic_core==2.46.4
python-multipart==0.0.28
rank-bm25==0.2.2
reportlab==4.4.6
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
ultralytics==8.4.62
uvicorn==0.46.0
